// colour variables
$greenColour: #abd373;
$darkGreyColour: #4c4c4c;
$lightGreyColour: #f6f7fb;
$faintBlueColour: #88cce2; 
$peachColour: #F8EEE5;

// font variables
$primaryFont: Rubik, sans-serif;
$secondaryFont: Rubik, sans-serif;