
// general styling
* { 
   margin: 0;
}

html,
body { 
   overflow-x: hidden;
}
a {
   text-decoration: none;
}

li { 
   list-style: none;
}

.wrapper {
   margin-left: 15vw;
   margin-right: 15vw;
}

