html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

html { box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

// colour variables
$greenColour: #abd373;
$darkGreyColour: #4c4c4c;
$lightGreyColour: #f6f7fb;
$faintBlueColour: #88cce2; 
$peachColour: #F8EEE5;

// font variables
$primaryFont: Rubik, sans-serif;
$secondaryFont: Rubik, sans-serif;

// general styling
* { 
   margin: 0;
}

html,
body { 
   overflow-x: hidden;
}
a {
   text-decoration: none;
}

li { 
   list-style: none;
}

.wrapper {
   margin-left: 15vw;
   margin-right: 15vw;
}

// banner styling
.banner { 
   background-color: $greenColour; 
   color: white;
   padding: 10px 0; 
   font-size: 12px;
   .bannerParent { 
      font-family: rubik; 
      display: flex; 
      justify-content: row;
      justify-content: space-between;
   }
      .bannerButtons { 
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0 5px;
   }
   .bannerParent a { 
      color: white;
      padding: 5px;
   }
}

// Navigation section
nav { 
   height: 12vh;
   .navParent { 
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 15px;
      .navButtons ul { 
         display: flex;
         flex-direction: row;
         a { 
            padding: 2vw; 
            font-family: rubik;
            color: black;
         }
      }
      .logo img { 
         height: 45px;
         width: 80px;
      }
      .shoppingCart img { 
         height: 30px;
         width: 30px;
      }
   } 
}

// Header Styling 
header { 
   background-color: $peachColour;
   height: 80vh;
   width: 100vw;
   text-size: 15px;
   display: flex;
   align-items: center;

   .headerParent { 
      display: flex;
   }
      .headerText { 
         display: flex;
         flex-direction: column;
         justify-content: center;
         min-width: 40vw;
         line-height: 70px;
      }
      .headerText h2{ 
         font-family: $primaryFont;
         font-size: 3em;
         font-weight: lighter;
      }

      .headerText h3 { 
         font-family: $primaryFont;
         font-size: 5em;
         font-weight: 300px;
      }
      .headerText h4 { 
         font-family: $primaryFont;
         font-size: 1em;
         font-weight: normal;
         padding-bottom: 50px;
      }

      .headerText button { 
         background-color: $greenColour;
         border: none;
         color: white; 
         padding: 20px;
         width: 200px;
         border-radius: 30px;
      }

      .headerImage img { 
         height: 500px;
         width: 400px;
         margin-right: 200px;
      }
}

// Styling services section 
.servicesParent { 
   display: flex; 
   flex-direction: row;
   justify-content: space-evenly;
   padding: 100px;
   .servicesBoxParent { 
      display: flex;
      justify-content: row;
      padding: 10px;
      margin: 10px;
      border-style: dotted;
      border-color: $greenColour;
      border-radius: 5%;
      border-width: 2px;
      h4 { 
         font-family: $primaryFont;
         font-weight: 400px;
         line-height: 20px;
      }
      p { 
         font-family: $primaryFont;
         font-weight: 300px;
         font-size: 12px;
      }
      img {
         height: 40px;
         width: 50px;
       }
      .servicesBox { 
         display: flex;
         flex-direction: column;
         padding: 10px;
      }
   }
}

// Styling Products Section 
.ourProducts { 
   text-align: center; 
   h2 { 
      font-family: $primaryFont;
      font-weight: bolder;
      font-size: 40px;
      padding-bottom: 30px;
   }
   
   button { 
      background-color: white;
      color: $greenColour;
      padding: 10px 20px;
      border-style: solid;
      border-color: $lightGreyColour;
      border-width: 2px;
      border-radius: 5%;
      margin: 15px;
   }
   button:hover{ 
      border-color: $greenColour;
      border-style: dotted;
   }
}

// styling plants for sale section
.plantInventory { 
   display: flex;
   flex-wrap: wrap;
   max-width: 1000px;
   gap: 20px;
   justify-content: center;
   
   img { 
         width: 225px; 
         height: 225px;
      }
   .plantForSale { 
      display: flex; 
      flex-direction: column;
      align-items: center;
      .plantInfo img { 
         width: 30px; 
         height: 30px;
         padding: 7px;
         box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.1);
      }
      .plantInfo { 
         p { 
            font-family: $primaryFont;
            font-size: 1em;
         }
         span { 
            color: $greenColour;
         }
      } 
   }
}

// Styling Collection Posts Section 
.newCollections { 
   margin-top: 10vh;
   font-family: $primaryFont;
   h4 {
      font-size: 1em;
      font-weight: normal;
   }
   h3 { 
      font-size: 2em;
      font-weight: bolder;
   }
   .collectionsTop{ 
      display: flex;
      max-width: 70vw;
      .cactusCollection { 
         background-image: url(../assets/b1.jpeg);
         margin: 1%;
         min-width: 65%;
         min-height: 35vh;
         background-size: cover;
         background-repeat: no-repeat;
         display: flex;
         flex-direction: column;
         line-height: 50px;
         padding: 40px;
         h4, 
         h3 { 
            text-align: left;
         }
         button { 
            background-color: $greenColour;
            border: none;
            color: white; 
            width: 130px;
            height: 40px;
            border-radius: 30px;
            margin-top: 10px;
         }
         
      }
      .plantPort { 
         background-image: url(../assets/b2.jpeg);
         margin: 1%;
         min-width: 25%;
         min-height: 35vh;
         background-size: cover;
         background-repeat: no-repeat;
         display: flex;
         flex-direction: column;
         align-items: center;
         padding-top: 30px;
         line-height: 40px;
         h4, 
         h3 { 
            text-align: center;
         }
         button { 
            background-color: $greenColour;
            border: none;
            color: white; 
            width: 130px;
            height: 40px;
            border-radius: 30px;
            position: relative;
            margin-top: 10px;
         }
      }
   }
   .collectionsBottom { 
      display: flex;
      max-width: 70vw;
      .plantPort2 { 
         background-image: url(../assets/b3.jpeg);
         margin: 1%;
         min-width: 25%;
         min-height: 35vh;
         background-size: cover;
         background-repeat: no-repeat;
         display: flex;
         flex-direction: column;
         align-items: center;
         padding-top: 30px;
         line-height: 40px;
         h4, 
         h3 { 
            text-align: center;
            
         }
         button { 
            background-color: $greenColour;
            border: none;
            color: white; 
            width: 130px;
            height: 40px;
            border-radius: 30px;
            position: relative;
            margin-top: 10px;
         }
      }
      .hangingCollection { 
         background-image: url(../assets/b4.jpeg);
         margin: 1%;
         min-width: 65%;
         min-height: 25vh;
         background-size: cover;
         background-repeat: no-repeat;
         display: flex;
         flex-direction: column;
         line-height: 50px;
         padding: 30px;
         h4, 
         h3 { 
            text-align: left;
           
         }
         button { 
            background-color: $greenColour;
            border: none;
            color: white; 
            width: 130px;
            height: 40px;
            border-radius: 30px;
            margin-top: 10px;
         }
      }
   }
}




// Styling Article Sections 
.latestPosts { 
   text-align: center;
   font-size: 15px;
   h2 { 
      font-family: $primaryFont;
      font-weight: bolder;
      font-size: 30px;
      margin-top: 10vh;
      margin-bottom: 3vh;
   }

   p { 
      font-family: $primaryFont;
      font-weight: 400px;
      font-size: 1em;
      line-height: 2em;
   }
   .articles { 
      display: flex;
      margin-top: 40px;
      .article1, 
      .article2, 
      .article3 { 
         max-width: 30%;
         display: flex;
         flex-direction: column;
         background-color: $lightGreyColour;
         border-radius: 5%;
         padding-left: 25px;
         padding-right: 25px;
         padding-bottom: 30px;
         margin: 10px;
         margin-bottom: 12vh;
      }
      span { 
         color: $greenColour;
         font-size: 1em;
      }
      p { 
         font-family: $primaryFont;
         font-weight: 400px;
         font-size: 1em; 
         line-height: 1.5em; 
      }
      h3 { 
         font-family: $primaryFont;
         font-weight: 400px;
         font-size: 1.5em;
      }
      span, 
      p, 
      h3 { 
         text-align: left;
         padding: 3px;
      }
      img { 
         padding-top: 30px;
      }
   }
}

// Styling Footer Section 
footer { 
   background-image: url(../assets/footer.jpg);
   background-size: cover;
   background-position-y: top;
   padding: 10vh;
   font-size:15px;
   .footerFlexParent { 
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      .proniaInfo { 
         display: flex;
         flex-direction: column;
         justify-content: center;
         max-width: 20%;
         margin: 30px;
         img { 
            width: 100px; 
            height: 50px;
            margin: 15px;
         }
         p { 
            font-family: $primaryFont;
            font-size: 1em;
            line-height: 20px;
            margin-bottom: 15px;;
         }
         .contactIcons { 
            display: flex;
         }
            .contactIcons img { 
               width: 30px;
               height: 30px;
               border: solid 1px black;
               padding: 8px;
               margin: 5px;
            }
      }
      .usefulLinks, 
      .myAccount, 
      .ourService, 
      .gotAQuestion { 
         font-family: $primaryFont;
         font-size: 1em;
         margin: 30px;
         h4 { 
            padding-bottom: 25px;
         }
         a { 
            line-height: 2em;
            color: black;
         }
      }
      .gotAQuestion { 
         min-width: 25%;
      }
   }
}


// Styling Contact Page

// Contact page header
.contactHeader { 
   background-color: white;
   height: 40vh;
   background-size: cover;
   background-image: url(../assets/contact-header.jpg);
   display: flex;
   justify-content: center;
   h1 { 
      font-family: $primaryFont;
   }
}

// Contact page form
.proniaForm { 
   min-height: 300px;
   display: flex;
   margin: 10vh 25vw 10vh 25vw;
   border: solid 2px $lightGreyColour;
   font-size: 10px;
   box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.1);
   .formInstructions { 
      background-image: url(../assets/contact.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      display: flex;
      flex-direction: column;
      color: white;
      padding: 30px 20px;
      text-align: left;
      h4 { 
         font-size: 2em;
         font-family: $primaryFont;
         line-height: 25px;
         padding-bottom: 10px;
      }
      h3 { 
         font-size: 1em;
         font-family: $primaryFont;
         padding-bottom: 10px;
      }
      p { 
         font-size: 1em;
         font-family: $primaryFont;
         line-height: 25px;
      }
   }
   .formInput { 
      #firstName, 
      #lastName, 
      #phone, 
      #email, 
      #message {
         width: 40%;
         flex-wrap: wrap;
         border: none;
         border-bottom: solid $lightGreyColour 1px;
         padding: 5px;
         padding-top: 20px;
         margin: 10px;
      }
      #message { 
         padding-bottom: 50px;
         min-width: 90%;
      }
      button { 
         background-color: $greenColour;
         color: white;
         border: none;
         border-radius: 5%;
         width: 100px;
         height: 30px;
         margin: 20px;
      }
      span { 
         display: flex;
         justify-content: flex-end;
      }
   }
}

// Media Queries 
// General Styling
@media (max-width: 600px){
.wrapper {
   margin-left: 5vw;
   margin-right: 5vw;
   }

   // Banner Media Query
.banner {
   flex-direction: column;
 }

//  Header Media Query
 .headerParent { 
   flex-direction: column;
   justify-content: center;
   align-items: center;
   .headerText { 
      line-height: 5vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      h2 { 
         font-size: 2em;
      }
      h3 {
         font-size: 3em;
      }
      h4 {
         font-size: 1em;
      }
   }
   .headerImage img { 
     display: none;
   }
 }
//  Serv ices Media Query
 .servicesParent { 
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   margin: 0;
   min-width: 90vw;
   }
   img { 
      padding-right: 20px;
      padding-top: 20px;
   }
 
// Article Section Media Query
   .articles { 
      flex-direction: column;
      margin-bottom: 10px;
      .article1,
      .article2,
      .article3 {
      min-width: 100%;
      }
      .latestPosts .article1,
      .article2,
      .article3 {
         margin: 0;
      }
   }
// New Collections Media Query
   .newCollections { 
      margin: 0;
      margin-top: 10vh;
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   .collectionsTop { 
      display: flex; 
      flex-direction: column;
   }

   .collectionsBottom { 
      display: flex; 
      flex-direction: column-reverse;
   }

// Footer Media Query
   footer { 
      padding: 2vh;
      .footerFlexParent { 
         flex-direction: column;
         align-items: center;
         justify-content: center;
         
         .proniaInfo { 
            flex-direction: column;
            align-items: center;
            min-width: 90vw;
         }
       }
      .contactIcons {
         flex-direction: row;
      }
      .usefulLinks, 
      .myAccount, 
      .ourService, { 
         min-width: 90vw;
         h4 { 
            position: relative;
            left: 37%
         }
         a { 
            display: none;
            padding: 2px;
            position: relative;
         }
      // changed display to none for the links for the purpose of visualization of the website. Ideally I would implement a drop down menu 
      }
   }
 

// Contact Page Query
   .contactHeader h1 { 
      display: flex; 
      justify-content: center;
      align-items: center;
      .proniaForm { 
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         margin: 5%;
         min-width: 70vw;
         .formInstructions { 
            flex-direction: column;
            justify-content: center;
            background-image: cover;
            padding: 30px 100px;
         }
         .formInput { 
            flex-direction: column;
            justify-content: center;
            max-width: 70vw;
         }
      }

   }  
}


