html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.wrapper {
  margin-left: 15vw;
  margin-right: 15vw;
}

.banner {
  background-color: #abd373;
  color: white;
  padding: 10px 0;
  font-size: 12px;
}
.banner .bannerParent {
  font-family: rubik;
  display: flex;
  justify-content: row;
  justify-content: space-between;
}
.banner .bannerButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 5px;
}
.banner .bannerParent a {
  color: white;
  padding: 5px;
}

nav {
  height: 12vh;
}
nav .navParent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
nav .navParent .navButtons ul {
  display: flex;
  flex-direction: row;
}
nav .navParent .navButtons ul a {
  padding: 2vw;
  font-family: rubik;
  color: black;
}
nav .navParent .logo img {
  height: 45px;
  width: 80px;
}
nav .navParent .shoppingCart img {
  height: 30px;
  width: 30px;
}

header {
  background-color: #F8EEE5;
  height: 80vh;
  width: 100vw;
  text-size: 15px;
  display: flex;
  align-items: center;
}
header .headerParent {
  display: flex;
}
header .headerText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 40vw;
  line-height: 70px;
}
header .headerText h2 {
  font-family: Rubik, sans-serif;
  font-size: 3em;
  font-weight: lighter;
}
header .headerText h3 {
  font-family: Rubik, sans-serif;
  font-size: 5em;
  font-weight: 300px;
}
header .headerText h4 {
  font-family: Rubik, sans-serif;
  font-size: 1em;
  font-weight: normal;
  padding-bottom: 50px;
}
header .headerText button {
  background-color: #abd373;
  border: none;
  color: white;
  padding: 20px;
  width: 200px;
  border-radius: 30px;
}
header .headerImage img {
  height: 500px;
  width: 400px;
  margin-right: 200px;
}

.servicesParent {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 100px;
}
.servicesParent .servicesBoxParent {
  display: flex;
  justify-content: row;
  padding: 10px;
  margin: 10px;
  border-style: dotted;
  border-color: #abd373;
  border-radius: 5%;
  border-width: 2px;
}
.servicesParent .servicesBoxParent h4 {
  font-family: Rubik, sans-serif;
  font-weight: 400px;
  line-height: 20px;
}
.servicesParent .servicesBoxParent p {
  font-family: Rubik, sans-serif;
  font-weight: 300px;
  font-size: 12px;
}
.servicesParent .servicesBoxParent img {
  height: 40px;
  width: 50px;
}
.servicesParent .servicesBoxParent .servicesBox {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.ourProducts {
  text-align: center;
}
.ourProducts h2 {
  font-family: Rubik, sans-serif;
  font-weight: bolder;
  font-size: 40px;
  padding-bottom: 30px;
}
.ourProducts button {
  background-color: white;
  color: #abd373;
  padding: 10px 20px;
  border-style: solid;
  border-color: #f6f7fb;
  border-width: 2px;
  border-radius: 5%;
  margin: 15px;
}
.ourProducts button:hover {
  border-color: #abd373;
  border-style: dotted;
}

.plantInventory {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.plantInventory img {
  width: 225px;
  height: 225px;
}
.plantInventory .plantForSale {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.plantInventory .plantForSale .plantInfo img {
  width: 30px;
  height: 30px;
  padding: 7px;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.1);
}
.plantInventory .plantForSale .plantInfo p {
  font-family: Rubik, sans-serif;
  font-size: 1em;
}
.plantInventory .plantForSale .plantInfo span {
  color: #abd373;
}

.newCollections {
  margin-top: 10vh;
  font-family: Rubik, sans-serif;
}
.newCollections h4 {
  font-size: 1em;
  font-weight: normal;
}
.newCollections h3 {
  font-size: 2em;
  font-weight: bolder;
}
.newCollections .collectionsTop {
  display: flex;
}
.newCollections .collectionsTop .cactusCollection {
  background-image: url(../assets/b1.jpeg);
  margin: 1%;
  min-width: 70%;
  min-height: 35vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  line-height: 50px;
  padding: 40px;
}
.newCollections .collectionsTop .cactusCollection h4,
.newCollections .collectionsTop .cactusCollection h3 {
  text-align: left;
}
.newCollections .collectionsTop .cactusCollection button {
  background-color: #abd373;
  border: none;
  color: white;
  width: 130px;
  height: 40px;
  border-radius: 30px;
  margin-top: 10px;
}
.newCollections .collectionsTop .plantPort {
  background-image: url(../assets/b2.jpeg);
  margin: 1%;
  min-width: 30%;
  min-height: 35vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  line-height: 40px;
}
.newCollections .collectionsTop .plantPort h4,
.newCollections .collectionsTop .plantPort h3 {
  text-align: center;
}
.newCollections .collectionsTop .plantPort button {
  background-color: #abd373;
  border: none;
  color: white;
  width: 130px;
  height: 40px;
  border-radius: 30px;
  position: relative;
  margin-top: 10px;
}
.newCollections .collectionsBottom {
  display: flex;
}
.newCollections .collectionsBottom .plantPort2 {
  background-image: url(../assets/b3.jpeg);
  margin: 1%;
  min-width: 30%;
  min-height: 35vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  line-height: 40px;
}
.newCollections .collectionsBottom .plantPort2 h4,
.newCollections .collectionsBottom .plantPort2 h3 {
  text-align: center;
}
.newCollections .collectionsBottom .plantPort2 button {
  background-color: #abd373;
  border: none;
  color: white;
  width: 130px;
  height: 40px;
  border-radius: 30px;
  position: relative;
  margin-top: 10px;
}
.newCollections .collectionsBottom .hangingCollection {
  background-image: url(../assets/b4.jpeg);
  margin: 1%;
  min-width: 70%;
  min-height: 35vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  line-height: 50px;
  padding: 30px;
}
.newCollections .collectionsBottom .hangingCollection h4,
.newCollections .collectionsBottom .hangingCollection h3 {
  text-align: left;
}
.newCollections .collectionsBottom .hangingCollection button {
  background-color: #abd373;
  border: none;
  color: white;
  width: 130px;
  height: 40px;
  border-radius: 30px;
  margin-top: 10px;
}

.latestPosts {
  text-align: center;
  font-size: 15px;
}
.latestPosts h2 {
  font-family: Rubik, sans-serif;
  font-weight: bolder;
  font-size: 30px;
  margin-top: 10vh;
  margin-bottom: 3vh;
}
.latestPosts p {
  font-family: Rubik, sans-serif;
  font-weight: 400px;
  font-size: 1em;
  line-height: 2em;
}
.latestPosts .articles {
  display: flex;
  margin-top: 40px;
}
.latestPosts .articles .article1,
.latestPosts .articles .article2,
.latestPosts .articles .article3 {
  max-width: 30%;
  display: flex;
  flex-direction: column;
  background-color: #f6f7fb;
  border-radius: 5%;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 20px;
  margin: 10px;
  margin-bottom: 12vh;
}
.latestPosts .articles span {
  color: #abd373;
  font-size: 1em;
}
.latestPosts .articles p {
  font-family: Rubik, sans-serif;
  font-weight: 400px;
  font-size: 1em;
  line-height: 1.5em;
}
.latestPosts .articles h3 {
  font-family: Rubik, sans-serif;
  font-weight: 400px;
  font-size: 1.5em;
}
.latestPosts .articles span,
.latestPosts .articles p,
.latestPosts .articles h3 {
  text-align: left;
  padding: 3px;
}
.latestPosts .articles img {
  padding-top: 30px;
}

footer {
  background-image: url(../assets/footer.jpg);
  background-size: cover;
  background-position-y: top;
  padding: 10vh;
  font-size: 15px;
}
footer .footerFlexParent {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
footer .footerFlexParent .proniaInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 20%;
}
footer .footerFlexParent .proniaInfo img {
  width: 100px;
  height: 50px;
  margin: 15px;
}
footer .footerFlexParent .proniaInfo p {
  font-family: Rubik, sans-serif;
  font-size: 1em;
  line-height: 20px;
  margin-bottom: 15px;
}
footer .footerFlexParent .proniaInfo .contactIcons {
  display: flex;
}
footer .footerFlexParent .proniaInfo .contactIcons img {
  width: 30px;
  height: 30px;
  border: solid 1px black;
  padding: 8px;
  margin: 5px;
}
footer .footerFlexParent .usefulLinks,
footer .footerFlexParent .myAccount,
footer .footerFlexParent .ourService,
footer .footerFlexParent .gotAQuestion {
  font-family: Rubik, sans-serif;
  font-size: 1em;
  margin: 20px;
}
footer .footerFlexParent .usefulLinks h4,
footer .footerFlexParent .myAccount h4,
footer .footerFlexParent .ourService h4,
footer .footerFlexParent .gotAQuestion h4 {
  padding-bottom: 25px;
}
footer .footerFlexParent .usefulLinks a,
footer .footerFlexParent .myAccount a,
footer .footerFlexParent .ourService a,
footer .footerFlexParent .gotAQuestion a {
  line-height: 2em;
  color: black;
}
footer .footerFlexParent .gotAQuestion {
  min-width: 25%;
}

.contactHeader {
  background-color: white;
  height: 40vh;
  background-size: cover;
  background-image: url(../assets/contact-header.jpg);
}
.contactHeader h1 {
  position: relative;
  top: 45%;
  left: 45%;
  font-family: Rubik, sans-serif;
}

.proniaForm {
  min-height: 300px;
  display: flex;
  margin: 10vh 25vw 10vh 25vw;
  border: solid 2px #f6f7fb;
  font-size: 10px;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.1);
}
.proniaForm .formInstructions {
  background-image: url(../assets/contact.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 30px 20px;
  text-align: left;
}
.proniaForm .formInstructions h4 {
  font-size: 2em;
  font-family: Rubik, sans-serif;
  line-height: 25px;
  padding-bottom: 10px;
}
.proniaForm .formInstructions h3 {
  font-size: 1em;
  font-family: Rubik, sans-serif;
  padding-bottom: 10px;
}
.proniaForm .formInstructions p {
  font-size: 1em;
  font-family: Rubik, sans-serif;
  line-height: 25px;
}
.proniaForm .formInput #firstName,
.proniaForm .formInput #lastName,
.proniaForm .formInput #phone,
.proniaForm .formInput #email,
.proniaForm .formInput #message {
  width: 40%;
  flex-wrap: wrap;
  border: none;
  border-bottom: solid #f6f7fb 1px;
  padding: 5px;
  padding-top: 20px;
  margin: 10px;
}
.proniaForm .formInput #message {
  padding-bottom: 50px;
  min-width: 90%;
}
.proniaForm .formInput button {
  background-color: #abd373;
  color: white;
  border: none;
  border-radius: 5%;
  width: 100px;
  height: 30px;
  display: block;
  margin-left: 300px;
  margin-top: 100px;
  margin-bottom: 20px;
}

@media (max-width: 600px) {
  .wrapper {
    margin-left: 5vw;
    margin-right: 5vw;
  }
  .banner {
    flex-direction: column;
  }
  .headerParent {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .headerParent .headerText {
    line-height: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .headerParent .headerText h2 {
    font-size: 2em;
  }
  .headerParent .headerText h3 {
    font-size: 3em;
  }
  .headerParent .headerText h4 {
    font-size: 1em;
  }
  .headerParent .headerImage img {
    display: none;
  }
  .servicesParent {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0;
  }
  img {
    padding-right: 20px;
    padding-top: 20px;
  }
  .articles {
    flex-direction: column;
  }
  .articles .article1,
  .articles .article2,
  .articles .article3 {
    min-width: 100%;
    margin-bottom: 0px;
  }
  .collectionsTop {
    display: flex;
    flex-direction: column;
  }
  .collectionsBottom {
    display: flex;
    flex-direction: column-reverse;
  }
  footer .footerFlexParent {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  footer .footerFlexParent .proniaInfo {
    flex-direction: column;
    align-items: center;
    min-width: 90vw;
  }
  footer .contactIcons {
    flex-direction: row;
  }
  footer .usefulLinks,
  footer .myAccount,
  footer .ourService {
    min-width: 90vw;
  }
  footer .usefulLinks h4,
  footer .myAccount h4,
  footer .ourService h4 {
    position: relative;
    left: 37%;
  }
  footer .usefulLinks a,
  footer .myAccount a,
  footer .ourService a {
    padding: 2px;
    position: relative;
  }
  footer .gotAQuestion {
    min-width: 90vw;
  }
}